<html>
	<head>
        <title>NumisManager</title>
    </head>
	<body>
     <div>
        <h1><a href="/">Numismatic Collection</a></h1>
     </div>

     {% for coin in coins %}
     <div>
        <p>year: {{ coin.release_year }}</p>
        <h1><a href="">{{ coin.link2pic }}</a></h1>
        <p>country: {{ coin.country}}</p>
     </div>
     {% endfor %}
	</body>
</html>